.accordion-container {
    .accordion-item {
        border-radius: 5px;
        border: 1px solid gray;
        padding: 3px;
        overflow: hidden;
        height: 44px;

        &.active {
            .item-title {
                background-color: transparent;
            }

            height: auto;
        }

        .item-title {
            border-radius: 5px;
            border: 1px solid gray;
            padding: 8px;
            background-color: lightgray;
            font-weight: 700;
            cursor: pointer;
        }

        .item-description {
            border-radius: 5px;
            padding: 8px;
            border: 1px solid gray;
            margin-top: 3px;
            box-sizing: border-box;
        }
    }
}