nav {
    position: relative;
    .main-menu {
        visibility: hidden;
        @include flex-direction(column);
        position: absolute;
        right: 0;
        top: 20px;
        background-color: rgba(255, 255, 255, 0.7);


        li {
            padding: 10px;

            a {
                display: block;
            }

            &:hover a {
                color: gray;
            }
        }
    }
    @media(min-width: 650px) {
        .main-menu {
            position: relative;
            visibility: visible !important;
            @include display(flex);
            @include flex-direction(row);
            background-color: transparent;
            top: 0;

            li {
                padding: 10px;
            }
        }

        .main-menu-button {
            display: none;
        }
    }


}