.content-wrapper {
    @include display(flex);
    @include flex-wrap(wrap);

    .about {
        padding: 0;

        p {
            margin-top: 20px;
        }
    }
}

.tabs-container, .accordion-container, .about {
    box-sizing: border-box;
    width: 100%;
}

@media (min-width: 550px) {
    .tabs-container {
        width: 50%;
    }

    .accordion-container {
        width: 50%;
    }

    .about {
        width: 50%;
    }

    .bootstrap-section .about {
        padding-right: 15px;
    }

    .git-section .about {
        padding-left: 15px;
    }
}

.bootstrap-section {
    .content-wrapper {
        @include flex-wrap(wrap-reverse);
    }

    .tabs-container, .about {
        margin-top: 30px;
    }
}

.git-section {
    .content-wrapper {
        @include flex-wrap(wrap);
    }

    .accordion-container, .about {
        margin-top: 30px;
    }
}