.content-wrapper {
    @include display(flex);
    @include flex-wrap(wrap);
}

.tabs-container, .accordion-container, .about {
    box-sizing: border-box;
    width: 100%;
}

.about {
    padding: 0;

    p {
        margin-top: 20px;
    }
}

@media (min-width: 550px) {
    .tabs-container {
        width: 50%;
    }

    .accordion-container {
        width: 50%;
    }

    .about {
        width: 50%;
        padding-right: 15px;
    }
}

.bootstrap-section {
    .content-wrapper {
        @include flex-wrap(wrap-reverse);
    }

    .tabs-container, .about {
        margin-top: 30px;
    }
}