@mixin display($display) {
    @if ($display == 'flex') {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    } @else {@if ($display == 'inline-flex') {
        display: #{-webkit-inline-box};
        display: -ms-inline-flexbox;
        display: inline-flex;
    } @else {
        display: $display;
    }}
}

@mixin flex-wrap($wrap-type) {

    @if ($wrap-type == 'wrap') {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    @if ($wrap-type == 'wrap-reverse') {
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }

    @if ($wrap-type == 'nowrap') {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

@mixin flex-order($order) {
    -webkit-box-ordinal-group: $order + 1;
    -ms-flex-order: $order;
    order: $order;
}

@mixin justify-content($justify) {
    @if ($justify == 'space-around') {
        -ms-flex-pack: #{distribute};
        justify-content: space-around;
    }

    @if ($justify == 'space-between') {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    @if ($justify == 'center') {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@mixin align-items ($align) {
    @if ($align == 'center') {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@mixin flex-direction ($direction) {
    @if ($direction == 'row') {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    @if ($direction == 'column') {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@mixin hint($hint-text) {
    &:hover::before {
        z-index: 2;
        display: inline-block;
        position: absolute;
        white-space: nowrap;
        padding: 5px 8px 3px 8px;
        top: -30px;
        content: $hint-text;
        border-radius: 3px;
        border: 1px burlywood solid;
        background-color: wheat;
        color: brown;
    }
}